<!DOCTYPE html>
<head>
{{ > header }}
	<title>Glycan Repository</title>
</head>
<body>
<a name="top"></a><!--link for page top-->
<div id="contents">
{{ > nav }}
<div class="container">

<h1 class="page-header">
	{{Title.0}}
	<a class="userGuide clearfix" href="{{Title.2}}" target="_blank">
		<img class="icon_userGuide clearfix" src="/img/icon_userGuide.png" height="48" width="24" alt="" />
		<span class="text_userGuide"><img src="/img/text_userGuide.png" height="40" width="80" alt="" /></span>
	</a>
</h1>
<br>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span7">

			<form class="well" method="post" action="structure" name="form1"
				target="_blank"> 
				 <!-- 
				$doc{'LeftTitle'}[0]; Search for all structures that contain entered glycan substructure.
				$doc{'Left'}[2] = Search for exact same structure
				$doc{'Left'}[3] = Search for substructure
				value="exact"; exact search
				value="sub"; substructure search
				  -->
				<label>{{LeftTitle.0}}</label>
				<div class="radio">
					<input type="hidden" name="input01" value="sub">
				</div>
				<textarea class="col col-xm-6" cols="30" rows="15" name="text1"
					id="text1" style="width: 465px; height: 200px;"></textarea>

				<!--<label class="control-label" for="select1"> {{Left.4}}</label>
				<select name="select1">
					<option value="glycoCT_condensed">{{Left.5}}</option>
					<option value="carbbank">{{Left.6}}</option>
					<option value="cfg">{{Left.7}}</option>
					<option value="bcsdb">{{Left.8}}</option>
					<option value="linucs">{{Left.9}}</option>
					<option value="kcf">{{Left.10}}</option>
				</select>-->
				<div class="submit">
					<button type="submit" class="btn btn-primary">{{search}}</button>
					<button type="reset" class="btn">{{cancel}}</button>
				</div>

			</form>

		</div>

<!-- 		<div class="span5">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<ul>
			<li>{{RightTitle.1}}
			<ul><li>{{Right.1}}</ul>
			<br>
			<br>
			<li>{{RightTitle.2}}
			<ul><li>{{Right.2}}</ul>
			</ul>
		</div>
 -->		
		<div class="span12">
			<h id="tabs">{{BottomTitle.1}}</h>
			<ul class="nav nav-tabs">
				<li class="active"><a href="#A" data-toggle="tab">
						{{#BottomTitle}}
						{{1}}
						{{/BottomTitle}}
				</a></li>
				<!-- LineraCode -->
				<li><a href="#E" data-toggle="tab">
						{{#BottomTitle}}
						{{5}}
						{{/BottomTitle}}
				</a></li>
				<!-- KCF -->
				<li><a href="#H" data-toggle="tab">
						{{#BottomTitle}}
						{{8}}
						{{/BottomTitle}}
				</a></li>
			</ul>
			<div class="tabbable">
				<div class="tab-content">
					<div class="tab-pane active" id="A">
						<p>
							{{Bottom.1}}
							<a href="http://www.ncbi.nlm.nih.gov/pubmed/18436199">{{Bottom.9}}</a>
							<br>
							{{{BottomFigure.1}}}
						</p>
					</div>
					<div class="tab-pane" id="D">
						<p>
							{{Bottom.4}}
							<a href="http://books.google.co.jp/books?id=u_eA0voGL6UC&lpg=PA30&dq=glycome%20informatics%20Aoki%20CarbBank&hl=ja&pg=PA30#v=onepage&q&f=false">{{Bottom'}[9] ?></a>
							<br>
							{{BottomFigure.4}}
						</p>
					</div>
					<div class="tab-pane" id="E">
						<p>
							{{Bottom.5}}
							<a href="https://books.google.co.jp/books?id=u_eA0voGL6UC&lpg=PP1&dq=glycome%20informatics&hl=ja&pg=PA37#v=onepage&q&f=false">{{Bottom'}[9] ?></a>
							<br>
							{{BottomFigure.5}}
						</p>
					</div>
					<div class="tab-pane" id="F">
						<p>
							{{Bottom.6}}
							<a href="http://csdb.glycoscience.ru/bacterial/index.html?help=rules">{{Bottom'}[9] ?></a>
							<br>
							{{BottomFigure.6}}
						</p>
					</div>
					<div class="tab-pane" id="G">
						<p>
							{{Bottom.7}}
							<a href="http://www.ncbi.nlm.nih.gov/pubmed/11675023?dopt=Abstract">{{Bottom'}[9] ?></a>
							<br>
							{{BottomFigure.7}}
						</p>
					</div>
					<div class="tab-pane" id="H">
						<p>
							{{Bottom.8}}
								<a href="http://books.google.co.jp/books?id=u_eA0voGL6UC&lpg=PA32&ots=3-YMFHBj8D&dq=glycome%20informatics%20Aoki%20KCF&hl=ja&pg=PA31#v=onepage&q&f=false">{{Bottom'}[9] ?></a>
							<br>
							{{BottomFigure.8}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</div>
{{>footer}}

</div>
</body>
</html>