	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script>
		$('.dropdownj-toggle').click(function() {
			$('.dropdown-toggle').dropdown('toggle');
		});
	</script>
	<footer class="footer">
		<!--<div class="footer_col footer_col-center">-->
		<div class="footer_wrapper">
			<div class="footer_inner_left">
					<span class="footer_share_text">Share</span>
					<ul class="footerShare clearfix">
						<li>
							<a escape="false" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://glytoucan.org/"><img src="/img/share_fb.png" alt="" height="52" width="26"></a>
						</li>
						<li>
							<a escape="false" target="_blank" href="https://twitter.com/home?status=http://glytoucan.org/"><img src="/img/share_twitter.png" alt="" height="52" width="26"></a>
						</li>
						<li>
							<a escape="false" target="_blank" href="https://plus.google.com/share?url=http://glytoucan.org/"><img src="/img/share_google.png" alt="" height="52" width="26"></a>
						</li>
					</ul>
			</div><!--/.footer_inner-->
			<div class="footer_inner_top">
				<ul class="footerLinks clearfix">
					<li>
						<a class="termsAndConditions" href="http://code.glytoucan.org/termsAndConditions/" target="_blank" >Terms and Conditions</a>
					</li>
					<li>
						<a class="sitePolicy" href="http://code.glytoucan.org/sitePolicy/" target="_blank" >Site Policy</a>
					</li>
					<li>
						<a class="FAQ" href="http://code.glytoucan.org/FAQ/" target="_blank">FAQ</a>
					</li>
					<li>
						<a class="userGuide_stanzas" href="http://code.glytoucan.org/manual/" target="_blank">User Guide</a>
					</li>
					<li>
						<a class="footerMail" href="mailto:support@glytoucan.org">Contact Us</a>
					</li>
				</ul>
			</div><!--/.footer_inner_top-->
				<a class="footer_logo clearfix" href="#top">
						<img class="globalNav_toucan"  src="/img/logo_toucan.png" height="38" width="67" alt="" />
						<span class="footer_logoText"><img src="/img/logo_text_footer.png" height="40" width="80" alt="" /></span>
				</a> 
			<div class="footer_inner_bottom clearfix">
			<!--<div class="footer-bottom_">-->
				<ul class="footerLicense clearfix">
					<li>
						<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>
					</li>
					<li>
						<p>&nbsp;&nbsp;&nbsp;Copyright &copy; ${COPYRIGHT_YEAR!"2016"} &nbsp;&nbsp; Glytoucan.org v${GTC_VERSION!"1.2.1"}</p>
					</li>
				</ul>
			</div><!--/.footer_inner_bottom-->	
		</div><!--/.footer_wrapper-->	
	</footer><!--/.footer-->
