<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=940" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="/css/GTC.css" />
<link rel="stylesheet" type="text/css" href="/css/glycan_list_new.css" />
<link href="/favicon.ico?v=2" type="image/x-icon" rel="icon" />
<script type="text/javascript" src="/js/confirmation.js">
</script>
</script><script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script><script type="text/javascript" src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
</script><script type="text/javascript" src="/js/glycan_list_new.js">
</script><script type="text/javascript" src="/js/init.js">
<script>
		$('.dropdownj-toggle').click(function() {
			$('.dropdown-toggle').dropdown('toggle');
		});
</script>