@charset "UTF-8";

.entryNew {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

.entryNew_summary {
	margin: 50px 0;
	padding: 20px;
	border-radius: 10px;
	background: #EEE;
}

.entryNew_content {
	position: relative;
	min-height: 500px;
	margin: 50px 0 0;
	padding: 0 0 0 250px;
}

.entryNav {
	position: absolute;
	width: 230px;
	top: 0;
	left: 0;
	padding: 10px 0;
	background: #EEE;
}

.entryNav--stuck {
	position: fixed;
	top: 50px;
}

.entryNav_ol {
	margin: 0;
	padding: 0 0 0 30px;
	list-style-type: decimal;
}

.entryNav_ol-sub {
	margin: 5px 0 0;
	list-style-type: lower-latin;
}

.entryNav_ol a {
	color: #09D;
}

.entryNav_ol > li + li {
	margin: 10px 0 0;
}

.entryNew_section {
	margin: 0 0 20px;
	padding: 0 0 30px;
}

.entryNew_heading {
	margin: 0;
	padding: 0 0 5px;
	border-bottom: solid 1px #999;
	font-size: 18px;
	line-height: 1.2;
	font-weight: bold;
}

.entryNew_heading-2nd {
	margin: 20px 0 0 30px;
	padding: 10px 0 0;
	border-bottom: 0;
	font-size: 16px;
	font-weight: bold;
}
